@import "~normalize.css";
@import "_variables.scss";


body{
    font-family:'Nunito';
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    gap: 40px;
    margin: 88px 16px;
    &__heading{
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }
    &__article{
        color: #425A70;
        text-align: center;
    }
    &__heading--strong{
        color: #4DA8FF;
    }
    &__picture{
        width: 96px;
        border-radius: 50%;
    }
    &__mail{
        background-color: #4DA8FF;
        width: 250px;
        text-align: center;
        border-radius: 64px;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
    &__link{
        text-decoration: none;
        color: #4DA8FF;
    }
}
.emoji{
    font-size: 68px;
}
.skills{
    background-color: #1070CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    align-items: center;
    color: #fff;
    width: 100%;
    line-height: 32px;
    &__header{
        padding-top: 64px;
        margin: 0;
    }
    &__knowledge{
        width: 100%;
        &--heading{
            font-size: 24px;
            text-align: center;
        }
        &--list{
            list-style-image: url(../assets/img/small-tick.svg);
        };
    }
    &__less{
        width: 100%;
        &--heading{
            text-align: center;
            font-size: 24px;
        }
        &--list{
            list-style-image: url(../assets/img/small-tick-white.svg);
        };
    }
    &__learning{
        width: 100%;
        margin-bottom: 64px;
        &--heading{
            font-size: 24px;
            text-align: center;
        }
    }
    
}

.projects{
    &__heading{
        font-size: 34px;
    }
    &__block{
        margin: 88px 16px;
        text-align: center;
    }
    &__article{
        line-height: 32px;
    }
}

.contact{
    line-height: 30px;
    
    &__block{
        background-color: #DBEAF7;
        padding: 64px 16px;
        display: flex;
        gap: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__socials{
        text-align: center;
    }
    &__header{
        text-align: center;
        font-size: 32px;
    }
    &__article{
        text-align: center;
    }
    
}